

<div class="container my-3">
    <a id="admin" asp-area="" asp-controller="Admin" asp-action="AdminPanel" class="btn btn-danger fw-bold fs-4">Админ панель</a>
</div>


<div class="container py-5">
    <form class="w-50 border p-3 fs-4">
        <div class="row text-center">
            <h2>Название услуги</h2>
            <div class="decor-line"></div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="name">Ваше имя</label>
                <input type="text" class="form-control py-2 fs-5" id="name" placeholder="Имя">
            </div>
        </div>
        <div class="row m-3">
            <div class="col">
                <div class="form-group">
                    <label class="fw-bold m-1" for="car">Марка</label>
                    <input type="text" class="form-control py-2 fs-5" id="car" placeholder="Марка машины">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="fw-bold m-1" for="carModel">Модель</label>
                    <input type="text" class="form-control py-2 fs-5" id="carModel" placeholder="Модель машины">
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="comment">Комментарий</label>
                <input type="text" class="form-control py-2 fs-5" id="comment" placeholder="Комментарий">
            </div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="phone">Телефон</label>
                <input type="text" class="form-control py-2 fs-5" id="phone" placeholder="Номер телефона">
            </div>
        </div>
        <div class="row mx-5 text-center">
            <button type="submit" class="btn btn-danger fw-bold fs-4">Оставить заявку</button>
            <p class="fs-5 p-2">Оперативно перезваниваем в рабочее время</p>
        </div>
    </form>

    <div class="m-5">
        ___
    </div>

    <form class="w-50 border p-3 fs-4">
        <div class="row text-center">
            <h2>Вход в личный кабинет</h2>
            <div class="decor-line"></div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="phone">Номер телефона</label>
                <input type="text" class="form-control py-2 fs-5" id="phone" placeholder="Номер телефона">
            </div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="password">Пароль</label>
                <input type="password" class="form-control py-2 fs-5" id="password" placeholder="Пароль">
            </div>
        </div>
        <div class="row mx-5 text-center">
            <button type="submit" class="btn btn-danger fw-bold fs-4">Войти</button>
            <p class="fs-5 p-2">Зарегистрировать аккаунт</p>
        </div>
    </form>

    <div class="m-5">
        ___
    </div>

    <form class="w-50 border p-3 fs-4">
        <div class="row text-center">
            <h2>Регистрация</h2>
            <div class="decor-line"></div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="phone">Номер телефона</label>
                <input type="text" class="form-control py-2 fs-5" id="phone" placeholder="Номер телефона">
            </div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="fw-bold m-1" for="password">Пароль</label>
                <input type="password" class="form-control py-2 fs-5" id="password" placeholder="Пароль">
            </div>
        </div>
        <div class="row mx-5 text-center">
            <button type="submit" class="btn btn-danger fw-bold fs-4">Зарегистрироваться</button>
        </div>
    </form>
</div>
