@{
	var Auth = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<body style="height: 100%;">
	<header id="header">
		<nav class="container navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
			<div class="container-fluid d-flex justify-content-between">
				<div class="d-flex flex-column align-items-center">
					<img class="img"
						 src="~/Images/logo.png"
						 style="width: 120px;"
						 alt="Logotype"
						 aria-label="Site logotype">
					<a class="navbar-brand fs-5 fw-bold"
					   asp-area=""
					   asp-controller="Home"
					   asp-action="Index">
						SERVICE
					</a>
				</div>

				<button class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<form class="d-flex w-50" role="search">
					<input class="form-control me-2"
						   type="search"
						   placeholder="Поиск"
						   aria-label="Search">
				</form>
				<div class="d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							@if (Auth)
							{
								<a class="nav-link text-dark fs-5"
							   asp-area=""
							   asp-controller="Account"
							   asp-action="Test">
									Личный кабинет
								</a>
							}
							else
							{
								<a class="nav-link text-dark fs-5"
							   asp-area=""
							   asp-controller="Account"
							   asp-action="Login">
									Войти
								</a>
							}
						</li>
					</ul>


				</div>
			</div>
		</nav>
		<div class="header-categories bg-dark">
			<div class="container d-flex">
				<ul class="navbar-nav w-100 justify-content-between fw-bold d-sm-inline-flex py-3 flex-row">
					<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="Diagnostic">
							Диагностика
						</a>
					</li>
					<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="Maintenance">
							Обслуживание
						</a>
					</li>
					@*<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="Repair">
							Ремонт
						</a>
					</li>*@
					<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="Detailing">
							Детейлинг
						</a>
					</li>
					@*<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="OnMarks">
							По маркам
						</a>
					</li>*@
					<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="AboutService">
							Об автосервисе
						</a>
					</li>
					<li class="nav-item px-3">
						<a class="nav-link link text-light fs-5"
						   asp-area=""
						   asp-controller="MainActions"
						   asp-action="Contacts">
							Контакты
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<main role="main" class="">
		@RenderBody()
	</main>

	<footer id="footer" class="bg-dark text-light">
		<div class="container d-flex justify-content-between py-5 px-3">
			<div class=" text-center px-5">
				<p class="fs-5">Компания</p>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							О компании
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Адреса
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Гарантии
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Список услуг
						</a>
					</li>
				</ul>
			</div>

			<div class="d-flex flex-column align-items-center justify-content-center">
				<img class="img"
					 src="~/Images/logo.png"
					 style="width: 300px;"
					 alt="Logotype"
					 aria-label="Site logotype">
			</div>

			<div class=" text-center px-5">
				<p class="fs-5">Контакты</p>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Telegram
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Instagram
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Телефон
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-light fs-6"
						   href="#">
							Email
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", false)
</body>
</html>