@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container my-5 d-flex flex-column align-items-center">
   <h1 class="my-3">Об автосервисе</h1>
   <div class="my-3">
       <p class="fs-5">
           Уже более 7 лет мы добросовестно выполняем свою работу. 
           Наш автосервис предлагает полный спектр ремонтных работ, 
           от электронной диагностики автомобиля до замены любой его запчасти в городе Казани.
       </p>

       <p class="fs-5">
           Вы всегда получаете гарантированно качественную работу от наших профессионалов, 
           и всегда можете быть уверенными в надежной работе своего автомобиля.
       </p>

       <p class="fs-5">
           Так же получаете нашу гарантию на все виды работ.
       </p>

       <p class="fs-5">
           В комплексных работах участвуют несколько специалистов, 
           каждый из которых отвечает за свою часть работы.
       </p>

       <p class="fs-5">
           Специалисты узкого профиля повышают работоспособность сервиса и качество выполнения работ. 
           Обслуживание автомобиля организовано согласно требованиям заводов-изготовителей. 
           Оборудование техцентра соответствует всем современным требованиям.
       </p>
   </div>
   
</div>