@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h2 class="m-3">
                Контакты автосервиса
            </h2>
            <div class="decor-line">

            </div>
            <div class="contacts">
                <div class="contacts-item">
                    <img class="contacts-img"
                         src="~/Images/home.png"
                         alt=""/>
                    <div class="contacts-body">
                        <h5>Адрес</h5>
                        <p>г. Казань, ул. Большая крассная 55</p>
                    </div>
                </div>
                <div class="contacts-item">
                    <img class="contacts-img"
                         src="~/Images/phone-call.png"
                         alt=""/>
                    <div class="contacts-body">
                        <h5>Телефон</h5>
                        <p>8 (903) 305-16-86</p>
                    </div>
                </div>
                <div class="contacts-calendar my-3">
                    <div class="contacts-inner">
                        <dl class="week-day">
                            <dt>Понедельник</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                        <dl class="week-day ">
                            <dt>Вторник</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                        <dl class="week-day ">
                            <dt>Среда</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                        <dl class="week-day ">
                            <dt>Четверг</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                        <dl class="week-day ">
                            <dt>Пятница</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                        <dl class="week-day ">
                            <dt>Суббота</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                        <dl class="week-day ">
                            <dt>Воскресенье</dt>
                            <dd class="week-day__line"></dd>
                            <dd>09:00-20:00</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <h2 class="m-3">Проезд к автосервису</h2>
            <div id="map" class="map border ">
                <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"
                        type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>