@model (CarsViewModel cM, CarServiceLibrary.Models.ViewModels.ServicesViewModel vm) 

@{
    
}
<div class="detailing-header">
	<div class="container h-100">
		<div class="d-flex w-100 h-100 flex-column align-items-center justify-content-center text-light">
			<h1 class="fw-bold" style="font-size: 64px;">Detailing Studio</h1>
            <p class="bg-dark fs-3 bg-opacity-50">
                Все виды детейлинга и восстановления вида автомобиля
            </p>	
            <a class="btn fw-bold btn-outline-danger fs-4"
               href="#"
               role="button">
                УЗНАТЬ БОЛЬШЕ
            </a>
		</div>
	</div>
</div>

<div class="detailing-bg">
	<div class="container">
		<div class="row row-cols-4 row-cols-lg-4">
			@foreach(var item in Model.vm.Services)
			{
				<div class="col my-4">
                    <div id="serviceModal" 
                         class="card bg-dark bg-opacity-50 p-3 d-flex flex-column "
                         style="height:300px;"
                         onclick="showModal(@item.Id)" 
                         data-bs-toggle="modal" 
                         data-bs-target="#GetService">
                        <img src="~/Images/Detailing/@item.ServicesImage" 
                             class="card-img-top" 
                             alt="Detailing logo"
                             aria-label="Detailing images">
						<div class="card-body d-flex flex-column text-center align-items-center">
                            <h5 class="card-title text-light">
                                @item.ServiceName
                            </h5>
						</div>
                        <a href="#" class="btn btn-outline-danger">
                            Узнать стоимость
                        </a>
					</div>
				</div>
			}
		</div>
	</div>
        <!-- Modal OrderService -->
<div class="modal fade"
             id="GetService"
             tabindex="-1"
             aria-labelledby="orderService"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form
                        asp-controller="MainActions"
                        asp-action="CreateOrder">
                        <div class="modal-header text-center justify-content-center">
                            <h2 class="modal-title"
                                id="ServiceName">
                            </h2>
                            <input class="is-hidden"
                                   id="getServiceId"
                                   name="serviceName"/>
                        </div>
                        <div class="modal-body text-start">
                            <div class="row m-3">
                                <div class="form-group">
                                    <label class="fw-bold m-1" for="name">Ваше имя</label>
                                    <input type="text"
                                           class="form-control py-2 fs-5"
                                           id="name"
                                           placeholder="Имя"
                                           name="userName">
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col">
                                    <div class="form-group">

                                        <label class="fw-bold m-1"
                                               asp-for="cM.CarId">
                                            Машины
                                        </label>
                                        <select asp-for="cM.CarId"
                                                class="form-control py-2 fs-5"
                                                asp-items="@(new SelectList(ViewBag.ListofCars, "Value", "Text"))"
                                                name="carName">

                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label
                                            class="fw-bold m-1"
                                            for="carModel">
                                            Модель
                                        </label>
                                        <input type="text"
                                               class="form-control py-2 fs-5"
                                               id="carModel"
                                               placeholder="Модель машины"
                                               name="carModel">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="form-group">
                                    <label class="fw-bold m-1"
                                           for="comment">
                                        Комментарий
                                    </label>
                                    <input type="text"
                                           class="form-control py-2 fs-5"
                                           id="comment"
                                           placeholder="Комментарий"
                                           name="descrption">
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="form-group">
                                    <label class="fw-bold m-1"
                                           for="phone">
                                        Телефон
                                    </label>
                                    <input type="text"
                                           class="form-control py-2 fs-5"
                                           id="phone"
                                           placeholder="Номер телефона"
                                           name="phone">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="row mx-5 text-center">
                                <button
                                    asp-controller="MainActions"
                                    asp-action="CreateOrder"
                                    type="submit"
                                    class="btn btn-danger fw-bold fs-4">
                                    Оставить заявку
                                </button>
                                <p class="fs-6 p-2">Оперативно перезваниваем в рабочее время</p>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var showModal = function(id)
        {
          $.ajax({
           type: "POST",
           url: "/MainActions/GetService",
           data: { id:id},
           success: function(service){
             $("#GetService").modal('show');
              $("#ServiceName").text(service.serviceName);
              $("#getServiceId").val('').val(service.serviceName);
           }
         })
        }

      </script>
}