@model (CarsViewModel cM, CarServiceLibrary.Models.ViewModels.ServicesViewModel vm)

@{
}
<div class="container">
	<div class="row">
		<div class="col-12 d-flex flex-column align-items-start justify-content-center col-lg-6 col-xl-5 ">
			<h1>Обслуживание автомобиля</h1>
			<ul class="py-4">
				<li class="fs-5">Выполним обслуживание автомобиля</li>
				<li class="fs-5">Фиксированные цены</li>
				<li class="fs-5">Запчасти и расходники в наличии</li>
				<li class="fs-5">Соблюдаем сроки по договору</li>
				<li class="fs-5">Опыт мастеров более 10 лет</li>
			</ul>
			<a class="btn btn-danger fs-4" href="" role="button">Обратный звонок</a>
		</div>
		<div class="col-md-5 col-lg-5 offset-lg-1 d-none d-lg-block phone-holder">
			<div class="iphone-mockup">
				<img class="maintenance-header-img" src="~/Images/cat2.jpg" alt="">
			</div>
		</div>
	</div>


</div>
<div class="container text-center my-3">
	<h1 class="my-5">Оказываем полный комплекс услуг по обслуживанию автомобилей</h1>
	<div class="decor-line"></div>
	<div class="container">
		<div class="row row-cols-2 row-cols-lg-2">
			@foreach (var item in Model.vm.Services)
			{
				<div class="col my-3">
					<div id="serviceModal"
					 class="card border-radius-lg shadow-sm"
					 onclick="showModal(@item.Id)"
					 data-bs-toggle="modal"
					 data-bs-target="#GetService">
						<div class="card-body">
							<p class="card-text fs-4">
								@item.ServiceName
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<!-- Modal OrderService -->
	<div class="modal fade"
		 id="GetService"
		 tabindex="-1"
		 aria-labelledby="orderService"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form asp-controller="MainActions"
					  asp-action="CreateOrder">
					<div class="modal-header text-center justify-content-center">
						<h2 class="modal-title"
							id="ServiceName">
						</h2>
						<input class="is-hidden"
							   id="getServiceId"
							   name="serviceName" />
					</div>
					<div class="modal-body text-start">
						<div class="row m-3">
							<div class="form-group">
								<label class="fw-bold m-1" for="name">Ваше имя</label>
								<input type="text"
									   class="form-control py-2 fs-5"
									   id="name"
									   placeholder="Имя"
									   name="userName">
							</div>
						</div>
						<div class="row m-3">
							<div class="col">
								<div class="form-group">

									<label class="fw-bold m-1"
										   asp-for="cM.CarId">
										Машины
									</label>
									<select asp-for="cM.CarId"
											class="form-control py-2 fs-5"
											asp-items="@(new SelectList(ViewBag.ListofCars, "Value", "Text"))"
											name="carName">
									</select>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label class="fw-bold m-1"
										   for="carModel">
										Модель
									</label>
									<input type="text"
										   class="form-control py-2 fs-5"
										   id="carModel"
										   placeholder="Модель машины"
										   name="carModel">
								</div>
							</div>
						</div>
						<div class="row m-3">
							<div class="form-group">
								<label class="fw-bold m-1"
									   for="comment">
									Комментарий
								</label>
								<input type="text"
									   class="form-control py-2 fs-5"
									   id="comment"
									   placeholder="Комментарий"
									   name="descrption">
							</div>
						</div>
						<div class="row m-3">
							<div class="form-group">
								<label class="fw-bold m-1"
									   for="phone">
									Телефон
								</label>
								<input type="text"
									   class="form-control py-2 fs-5"
									   id="phone"
									   placeholder="Номер телефона"
									   name="phone">
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="row mx-5 text-center">
							<button asp-controller="MainActions"
									asp-action="CreateOrder"
									type="submit"
									class="btn btn-danger fw-bold fs-4">
								Оставить заявку
							</button>
							<p class="fs-6 p-2">Оперативно перезваниваем в рабочее время</p>
						</div>
					</div>

				</form>

			</div>

		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		var showModal = function (id) {
			$.ajax({
				type: "POST",
				url: "/MainActions/GetService",
				data: { id: id },
				success: function (service) {
					$("#GetService").modal('show');
					$("#ServiceName").text(service.serviceName);
					$("#getServiceId").val('').val(service.serviceName);
				}
			})
		}

	</script>
}